<div class="container start_view">
    <!-- ヘッダー -->
    <div class="row　header">
        <%= render 'shared/header' %>
        <%= render 'shared/flash' %>
    </div>
    <!-- ログインフォーム -->
    <div class="row sign-form">
        <h2><strong>クライアントの方はこちら</strong></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field col-xs-12">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autocomplete: "メールアドレス", class: "mail-form" %>
        </div>
        <div class="field col-xs-12">
            <%= f.label :"パスワード(6文字以上)" %>
            <%= f.password_field :password, autocomplete: "パスワード", class: "pass-form" %>
        </div>
        <div class="submit-btn col-xs-12">
            <%= f.submit "ログイン", class: "btn btn-info col-xs-8 submit-btn-type" %>
        </div>
        <% end %>
    </div>
</div>