<div class="container start_view">
  <div class="row　header">
  <%= render 'shared/header' %>
  <%= render 'shared/flash' %>
  </div>
  <div class="row sign-form">
    <h2><strong>クライアントの方はこちら</strong></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field col-xs-12">
        <%= f.label :氏名 %>
        <%= f.text_field :employer_name, autocomplete: "法人名・事業者名", class: "name-form" %>
      </div>

      <div class="field col-xs-12">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "メールアドレス", class: "mail-form" %>
      </div>

      <div class="field col-xs-12">
        <%= f.label :"パスワード(6文字以上)" %>
        <%= f.password_field :password, autocomplete: "パスワード", class: "pass-form" %>
      </div>

      <div class="field col-xs-12">
        <%= f.label :"パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, autocomplete: "確認用パスワード", class: "pass-form" %>
      </div>

      <div class="submit-btn col-xs-12">
        <%= f.submit "登録する", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>