<div class="container">
    <div class="row　header">
        <%= render 'shared/header' %>
        <%= render 'shared/flash' %>
    </div>
    <div class="cancel-box">
        <div class="row">
            <h3 class="col-xs-12 text-center cancel-text">本当に退会しますか？</h3><br><br>
            <h3 class="col-xs-12 text-center cancel-text">退会すると今後ログインができなくなります</h3>
            <h3 class="col-xs-12 text-center cancel-text">退会する場合は、「退会する」ボタンをクリックしてください</h3>
        </div>
        <div class="row cancel-button">
            <%= form_for(@creater) do |f| %>
            <div class="col-xs-3"></div>
            <%= link_to creater_path(@creater) do %>
            <p class="btn btn-primary col-xs-2">退会しない</p>
            <% end %>
            <div class="col-xs-2"></div>
            <%= link_to "退会する", creater_creater_status_path(current_creater),method: :patch, class: "btn btn-danger col-xs-2" %>
            <% end %>
        </div>
    </div>
</div>