<div class="container top-box">
    <div class="row">
        <%= render 'shared/header' %>
    </div>
    <%= render 'shared/flash' %>
    <div class="row top-group">
        <%= link_to new_creater_registration_path do %>
        <div class="col-xs-4 creater-top">
            <div class="creater-invite">
            </div>
            <p class="creater-font text-center">
                映像クリエイター
            </p>
            <div class="emp-text">
                <p class="top-text-emp text-center">Youtuberを探す</p>
                <p class="top-text-emp text-center">スキルを提供する</p>
                <p class="top-text-emp text-center">理想の条件で契約</p>
            </div>
        </div>
        <% end %>
        <div class="col-xs-4">
            <%= link_to about_path do %>
            <div class="top-how-btn">
                <div class="col-xs-1"></div>
                <p class="btn btn-warning col-xs-10">How To Use</p>
            </div>
            <% end %>
        </div>
        <%= link_to new_employer_registration_path do %>
        <div class="col-xs-4 employer-top">
            <div class="cre-text">
                <p class="top-text-cre text-center">映像クリエイターを探す
                </p>
                <p class="top-text-cre text-center">
                    案件を提供する
                </p>
                <p class="top-text-cre text-center">
                    理想の人材と契約
                </p>
            </div>
            <p class="employer-font text-center">
                Youtuber
            </p>
            <div class="employer-invite">
            </div>
        </div>
        <% end %>
    </div>
</div>