<div class="container">
    <div class="row　header">
        <%= render 'shared/header' %>
    </div>
        <%= render 'shared/flash' %>
    <div class="row offer-form">
        <h3 class="offer-title">発注内容</h3>
        <div class="col-xs-12">
            <table class="table">
                <%= form_for(@offer, url:employers_offers_path) do |f| %>
                <tr class="title-form">
                    <th>タイトル</th>
                    <td>
                        <%= f.text_field :title, autofocus: true, autocomplete: "delivery_address", class: "col-xs-8" %>
                    </td>
                </tr>
                <tr class="offer-text">
                    <th>発注内容</th>
                    <td>
                        <%= f.text_area :content, autofocus: true, autocomplete: "delivery_address", class: "content-form" %>
                    </td>
                </tr>
                <tr class="deadline-form">
                    <th>募集期限</th>
                    <td>
                        <%= f.date_field :deadline, autofocus: true, autocomplete: "delivery_address", class: "col-xs-4" %>
                    </td>
                </tr>
                <tr class="delivery-form">
                    <th>納品日</th>
                    <td>
                        <%= f.date_field :delivery_date, autofocus: true, autocomplete: "delivery_date", class: "col-xs-4" %>
                    </td>
                </tr>
                <tr class="wage-form">
                    <th>報酬</th>
                    <td>
                        <p>
                            <%= f.text_field :wage, autofocus: true, autocomplete: "delivery_address", class: "col-xs-6" %>円
                        </p>
                    </td>
                </tr>
                <tr class="payment-form">
                    <th>支払い方法</th>
                    <td>
                        <%= f.text_field :payment_method, autofocus: true, autocomplete: "delivery_address", class: "col-xs-8" %>
                    </td>
                </tr>
                <tr class="payday-form">
                    <th>支払い期日</th>
                    <td>
                        <p>
                            <%= f.number_field :payday, autofocus: true, autocomplete: "delivery_address", class: "col-xs-4" %>日以内(納品後)
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="offer-btn">
            <%= f.submit "上記内容で登録する", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>