<div class="container start_view">
    <!-- ヘッダー -->
    <div class="row　header">
        <%= render 'shared/header' %>
        <%= render 'shared/flash' %>
    </div>
    <!-- ログインフォーム -->
    <div class="row sign-form">
        <h3 class="text-center"><strong>クリエイターログイン</strong></h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
            <div class="col-xs-3"></div>
            <table class="col-xs-6">
                <tr class="field">
                    <th class="text-center">メールアドレス</th>
                    <td><%= f.email_field :email, autocomplete: "メールアドレス", class: "mail-form" %></td>
                </tr>
                <tr class="field">
                    <th class="text-center">パスワード(6文字以上)</th>
                    <td><%= f.password_field :password, autocomplete: "パスワード", class: "pass-form" %></td>
                </tr>
            </table>
        </div>
        <div class="submit-btn col-xs-12">
            <div class="col-xs-4"></div>
            <div class="login-btn">
            <%= f.submit "ログイン", class: "btn btn-info new-btn" %>
            </div>
        </div>
        <% end %>
    </div>
</div>